.vs/ListBoxSample/v15/Server/sqlite3/storage.ide-wal
.vs/ListBoxSample/v15/Server/sqlite3/storage.ide-shm
.vs/ListBoxSample/v15/Server/sqlite3/storage.ide
.vs/ListBoxSample/v15/Server/sqlite3/db.lock
.vs/ListBoxSample/v15/.suo
ListBoxSample/bin/Debug/ListBoxSample.pdb
ListBoxSample/bin/Debug/ListBoxSample.exe.config
ListBoxSample/bin/Debug/ListBoxSample.exe
ListBoxSample/bin/Debug/Common.pdb
ListBoxSample/bin/Debug/Common.dll
ListBoxSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ListBoxSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ListBoxSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ListBoxSample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ListBoxSample/obj/Debug/MainWindow.g.i.cs
ListBoxSample/obj/Debug/ListBoxSample_MarkupCompile.lref
ListBoxSample/obj/Debug/ListBoxSample_MarkupCompile.i.lref
ListBoxSample/obj/Debug/ListBoxSample_MarkupCompile.i.cache
ListBoxSample/obj/Debug/ListBoxSample_MarkupCompile.cache
ListBoxSample/obj/Debug/ListBoxSample.pdb
ListBoxSample/obj/Debug/ListBoxSample.g.resources
ListBoxSample/obj/Debug/ListBoxSample.exe
ListBoxSample/obj/Debug/ListBoxSample.csprojAssemblyReference.cache
ListBoxSample/obj/Debug/ListBoxSample.csproj.GenerateResource.cache
ListBoxSample/obj/Debug/ListBoxSample.csproj.FileListAbsolute.txt
ListBoxSample/obj/Debug/ListBoxSample.csproj.CoreCompileInputs.cache
ListBoxSample/obj/Debug/ListBoxSample.csproj.CopyComplete
ListBoxSample/obj/Debug/ListBoxSample.Properties.Resources.resources
ListBoxSample/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
ListBoxSample/obj/Debug/GeneratedInternalTypeHelper.g.cs
ListBoxSample/obj/Debug/Form/View/StrageExplorer.g.i.cs
ListBoxSample/obj/Debug/Form/View/StrageExplorer.g.cs
ListBoxSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ListBoxSample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ListBoxSample/obj/Debug/App.g.i.cs
ListBoxSample/obj/Debug/App.g.cs
ListBoxSample/obj/Debug/Form/View/StrageExplorer.baml
ListBoxSample/obj/Debug/Custom/UserControls/ListViewItem.g.i.cs
ListBoxSample/obj/Debug/Custom/UserControls/ListViewItem.g.cs
ListBoxSample/obj/Debug/Custom/UserControls/ListViewItem.baml
